/* Featurettes
    ------------------------- */
    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px !important; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



@media (min-width: 1024px) { 

.carousel-caption h1, .carousel-caption .lead {
    color: #FFFFFF;
    line-height: 1.25;
    margin: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}



.carousel-large #myCarousel {
     left: 0px;
     position: absolute;
     width: 100%;
}

.carousel-large #myCarousel img {
     width: 100%;
}

.carousel-large #myCarousel .carousel-caption {
    background: none repeat scroll 0 0 transparent;
    margin: 0 auto 200px;
    max-width: 960px !important;
}

.carousel-large #myCarousel .carousel-caption p {
     max-width: 550px ! important;
}


.carousel-large .marketing { padding-top: 660px; }


.carousel-large .page-header { display: none;}

.carousel-large .carousel-control {
    background: none repeat scroll 0 0 transparent;
    border: 0 solid #FFFFFF;
    color: #FFFFFF;
    font-size: 120px;
    font-weight: 100;
    line-height: 30px;
    margin-top: 0;
    opacity: 0.4;
    }
}






















/* Custom CSS */
.nav-main.nav-hover-box {
    font-size: 1rem;
    height: 40px;
    margin: 0;
    padding: 8px 14px 0 10px;  
    border: 1px solid #FFFFFF;
    background-color: #f5f5f5;
    background-image: linear-gradient(bottom, rgb(238,238,238) 20%, rgb(241,241,241) 60%, rgb(249,249,249) 80%);
    background-image: -o-linear-gradient(bottom, rgb(238,238,238) 20%, rgb(241,241,241) 60%, rgb(249,249,249) 80%);
    background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 20%, rgb(241,241,241) 60%, rgb(249,249,249) 80%);
    background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 20%, rgb(241,241,241) 60%, rgb(249,249,249) 80%);
    background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 20%, rgb(241,241,241) 60%, rgb(249,249,249) 80%);   
    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.2, rgb(238,238,238)),
    	color-stop(0.6, rgb(241,241,241)),
    	color-stop(0.8, rgb(249,249,249))
    );
    
    -moz-border-radius: 6px; /* Firefox */  
    -webkit-border-radius: 6px; /* Safari, Chrome */  
    border-radius: 6px; /* CSS3 */  
    box-shadow: 0 1px 2px #999, 0 0px 1px #ccc;
}

.nav-main.nav-hover-box {
    font-size: 0.94rem !important;
}

.nav-tabs > li > a, .nav-pills > li > a {
    color: #444;
    font-weight: bold;
    text-shadow: 1px 1px 0 #FFFFFF;
    margin-right: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-tabs > li, .nav-pills > li {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #CCCCCC;
    float: left;
    height: 34px !important;
}
.nav-tabs > li:first-child, .nav-pills > li:first-child {
    border-left: 0px;
}
.nav-tabs > li:last-child, .nav-pills > li:last-child {
    border-right: 0px;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: transparent;
    color: #999;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    text-decoration: none;
    color: #999;
}


@media (max-width: 979px) {
.nav-tabs > li > a, .nav-pills > li > a {
    color: #444444;
    font-weight: bold;
    margin-right: 2px;
    padding-left: 8px;
    padding-right: 8px;
    text-shadow: 1px 1px 0 #FFFFFF;
    }
}



/* Search Field */
.header-standard #searchform #s, .header-standard #searchform #searchsubmit {
    -moz-border-radius: 3px !important; /* Firefox */  
    -webkit-border-radius: 3px !important; /* Safari, Chrome */  
    border-radius: 3px !important; /* CSS3 */  
}

.header-standard #searchform #s {
    box-shadow: 1px 1px 2px #CCCCCC inset;  
}
 
#searchsubmit {
    background: url("../img/search.png") no-repeat scroll 3px 3px #444 !important;
    border: 0 solid #000000;
    color: #EEEEEE;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    margin-top: 0;
    opacity: 1;
    padding: 0;
    text-indent: -9999px;
    text-shadow: 0 0 0 #000000;
    text-transform: uppercase;
    width: 30px !important;
}

#searchsubmit:hover {
    opacity: 0.8 !important;    
}

	/* For Retina Display */ 
	@media 
	only screen and (-webkit-min-device-pixel-ratio: 2), 
	only screen and (min-resolution: 192dpi) { 
    #searchsubmit {
            background: url("../img/search@2x.png") no-repeat scroll 3px 3px #444 !important;
            background-size: 24px 24px !important;
        }
	}




/* Main Slider */

.featured-slider-box {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 0 none;
    border-top: 0 none;
    left: 0;
    margin: -40px auto;
    max-width: 100%;
    padding: 24px 0;
    position: absolute;
    width: 100%;
}

.featured-slider-box .royalSlider {
    box-shadow: 0 4px 3px #000000;
    direction: ltr;
    height: 400px;
    margin: auto !important;
    max-width: 960px !important;
    overflow: visible;
    position: static;
}

.home .textbox {
    padding-bottom: 30px;
    padding-top: 420px;
}

.home .featured-image-box {
    background: none repeat scroll 0 0 #333333;
    height: 680px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0 !important;
    max-height: 680px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.home .featured-banner {
    background-position: center center;
    background-size: cover;
    height: 680px;
    width: 100%;
}



/* Banner */
.featured-image-box {
    margin-top: 0px !important;
    margin: 0px auto;
    max-height: 405px;
    height: 405px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    background: #333;
    z-index: -1;
}

.featured-banner {
	background-position: center center;
    background-size: cover;
	background-attachment:;
	height: 405px;
	width: 100%;
}

body {
    background: none repeat scroll 0 0 transparent;
}


@media (max-width: 767px) {
    .wrap {
        margin-top: 30px !important;
    }
    .featured-image-box {
    max-height: 280px !important;
    height: 280px !important;
    }
    .featured-slider-box {
    padding: 0 !important;
    }   
    .home .textbox {
    padding-top: 160px;
    }     
}

@media (max-width: 479px) {
    .home .textbox {
    padding-top: 80px;
    }    
}

.page-header {
    color: #FFFFFF;
    display: block !important;
    margin-top: -100px;
    text-align:;
    text-shadow: 1px 1px 3px #000 !important;
    border: 0px;
}



    .home .page-header {
    display: none !important;
    }
    .home .breadcrumbs {
    display: none !important;        
    }


/* =============================================================================
   4. HEADER
   ========================================================================== */
@media (min-width: 768px) {
    .wrap {
        margin-top: 230px !important;      
    }
    .home .wrap {
    margin-top: 40px !important;    
    }
    .breadcrumbs {
    color: #999999;
    display: block;
    font-size: 0.88rem;
    margin: 200px 0 20px !important;
    position: absolute;
    top: 0;
    }
    .page-header {
    color: #FFFFFF;
    display: block !important;
    margin-top: -90px;
    }
}

@media (max-width: 767px) {
    .page-header {
    display: none !important;
    }
    .breadcrumbs {
    display: none !important;        
    }
}

.banner { margin-top: 40px; }
	
	/* Fixed Topbar Navigation */
	.banner.navbar-fixed-top { margin-top: 0px; }
	body.top-navbar .wrap { margin-top: 80px; }
	body.admin-bar .navbar-static-top { top: 28px; }

h1.site-title { margin: 0 0 -5px 0; }

.brand {
    color: #EEEEEE !important;
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: -2px;
    padding-left: 0;
    padding-right: 0;
    text-shadow: 1px 1px 3px #000 !important;
}

.brand:hover {
    opacity: 0.8;
}

.site-description {
    color: #EEEEEE !important;
    font-size: 0.9rem;
    font-weight: lighter;
    padding-left: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #000 !important;
}


/* Special Page */
.special-features .wrap {
    margin-top: 0 !important;
}
.special-features .page-header, .special-features .breadcrumbs {
    display: none !important;
}


