/* =============================================================================
   CUSTOM STYLE
   ========================================================================== */

/* Background
----------------------------------------- */
html { 
  background:; 
  background-image:url();
  background-attachment:;
  } 

body { padding-top: 0px; margin: auto; }
body.static { min-width:; }
/* Set this to fix div bg-cutoff issue */

@media (min-width: 1025px) {  /* must set to min 1025 to fix layout in iPad 1024 resolution */
body { 
    background-image:url();
    background-color:;
    background-repeat:;
    background-position:;
    background-attachment:;
    margin:;
    max-width:;
    padding:;
    
    box-shadow:;
    -moz-box-shadow:;
    -webkit-box-shadow:;
    }
}  



/* Navigation
----------------------------------------- */

/* Hover */
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #F1F1F1;
    border-bottom: 0 solid #999;
    border-radius: 0 0 0 0;
    }

    /* Selected Menu */
    .nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
        background-color: transparent;
        border-bottom: 8px solid #999;
        border-radius: 0;
        color: #888;
        }
        .nav-pills .dropdown-menu { 
            border-radius: 0; 
            }
            
            /* Dropdown List Hover */
            .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
                background-color: ;
                background-image: none;
                background-repeat: repeat-x;
                color: #FFFFFF !important;
                text-decoration: none;
                }
                
                /* Dropdown List Selected Menu */
                .dropdown-menu li.active a {
                    border-right: 4px solid #999;    
                    }
                    
                    /* Dropdown List Selected Hover */
                    .dropdown-menu li.active a:hover { 
                        color: inherit !important; 
                        }
                    
                    

/* Template
----------------------------------------- */
.carousel-box .caption p { display: none; }
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    